body {
  width: 100%;
}

.header-wrapper {
  background: linear-gradient(
      rgba(249, 249, 249, 0.8),
      rgba(249, 249, 249, 0.8)
    ),
    url(../images/winners-bg.jpeg);
  background-size: cover;
}

.top-nav-container {
  display: none;
}

.bottom-nav-container {
  display: none;
}

.program-item img {
  object-fit: cover;
  width: 40px;
}

.hamburger {
  padding: 30px;
  font-size: 50px;
  color: var(--font-color);
  z-index: 0;
}

.headline {
  width: 100%;
  padding: 10px;
}

.welcome {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: normal;
}

.headline h1 {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.headline p {
  color: var(--font-color);
  background-color: var(--secondary-color);
  padding: 15px;
  width: 100%;
  border: 2px solid white;
  border-radius: 3px;
  margin-top: 5px;
}

.scripture {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: bold;
}

.headline h3 {
  color: var(--font-color);
  margin-top: 10px;
  font-size: 1.5rem;
}

.location {
  color: var(--font-color);
  font-weight: 600;
  margin-bottom: 50px;
}

.program-container {
  background-color: #272a31;
  padding: 8px;
}

.program-container h2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.program-container hr {
  width: 50px;
  background-color: var(--primary-color);
  margin-bottom: 40px;
}

.program-item {
  background-color: #3c3f46;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 5px 10px 5px;
}

.program-item h4 {
  margin-left: 10px;
  color: var(--primary-color);
  font-weight: bold;
}

.program-item p {
  width: 85%;
  color: white;
}

/* About section */
.past-event-one {
  background: linear-gradient(rgba(148, 39, 19, 0.7), rgba(148, 39, 19, 0.7)),
    url(/public/images/shiloh-2019webp);
  background-size: cover;
  width: 93%;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
}
.past-event-two {
  background: linear-gradient(rgba(148, 39, 19, 0.7), rgba(148, 39, 19, 0.7)),
    url(/public/images/shiloh-2021.jpg);
  background-size: cover;
  width: 93%;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
}

.event h3 {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.event p {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  width: 90%;
}
