body {
  width: 100%;
}

.header-wrapper {
  background: linear-gradient(
      rgba(249, 249, 249, 0.8),
      rgba(249, 249, 249, 0.8)
    ),
    url(../images/winners-bg.jpeg);
  background-size: cover;
}

.top-nav-container {
  display: none;
}

.logo {
  display: none;
}

.bottom-nav {
  visibility: hidden;
  background-color: var(--primary-color);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 50px;
  backdrop-filter: blur(7px);
  mix-blend-mode: multiply;
  font-weight: 600;
}

.bottom-nav li {
  margin-bottom: 20px;
}

.bottom-nav li a {
  color: white;
  font-size: 18px;
}

.bottom-nav li a:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.close-btn {
  color: white;
  align-self: end;
  margin-right: 70px;
  font-size: 30px;
  font-weight: bold;
}

.program-item img {
  object-fit: cover;
  width: 40px;
}

.hamburger {
  padding: 30px;
  font-size: 50px;
  color: var(--font-color);
  z-index: 0;
}

.headline {
  width: 100%;
  padding: 10px;
}

.welcome {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: normal;
}

.headline h1 {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.headline p {
  color: var(--font-color);
  background-color: var(--secondary-color);
  padding: 15px;
  width: 100%;
  border: 2px solid white;
  border-radius: 3px;
  margin-top: 5px;
}

.scripture {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: bold;
}

.headline h3 {
  color: var(--font-color);
  margin-top: 10px;
  font-size: 1.5rem;
}

.location {
  color: var(--font-color);
  font-weight: 600;
  margin-bottom: 50px;
}

.program-container {
  background-color: #272a31;
  padding: 8px;
}

.program-container h2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.break {
  width: 30px;
  background-color: var(--primary-color);
  margin-bottom: 40px;
}

.program-item {
  background-color: #3c3f46;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 5px 10px 5px;
}

.program-item h4 {
  margin-left: 10px;
  color: var(--primary-color);
  font-weight: bold;
  margin-right: 10px;
  width: 50%;
}

.program-item p {
  width: 90%;
  color: white;
  font-size: 13px;
  text-align: left;
}

.program-section a {
  width: 90%;
  background-color: var(--primary-color);
  padding: 25px 20px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 17px;
}

.see-program {
  display: none;
}

.speakers {
  padding: 10px;
}

.speakers h2 {
  font-family: var(--font-family);
  text-align: center;
  margin-top: 30px;
}

.checkers {
  position: absolute;
  width: 60px;
}

.speaker-image {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 2px;
  top: 10px;
  left: 10px;
}

.speaker {
  display: flex;
  margin-bottom: 30px;
}

.speaker hr {
  width: 30px;
  background-color: var(--primary-color);
  margin-bottom: 10px;
  margin-left: 25px;
}

.name-professional h4 {
  color: var(--font-color);
  font-weight: 600;
  margin-left: 25px;
}

.name-professional .description {
  color: var(--primary-color);
  font-style: italic;
  margin-left: 25px;
  width: 225px;
  margin-bottom: 10px;
  font-size: 14px;
}

.name-professional p {
  color: var(--font-color);
  margin-left: 25px;
  width: 225px;
  font-size: 14px;
}

.more {
  margin-top: 40px;
  width: 90%;
  padding: 10px 30px;
  border: 1px solid var(--secondary-color);
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-radius: 3px;
}
.more span {
  margin-right: 10px;
  color: var(--font-color);
  font-size: 13px;
}

.more i {
  color: var(--primary-color);
}

.partners h3 {
  color: white;
}

footer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

footer hr {
  margin-bottom: 10px;
}

footer img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}
footer p {
  color: var(--font-color);
  font-size: 13px;
}

#hide-on-mobile {
  display: none;
}

/* About section */
.about-welcome {
  display: flex;
  justify-content: center;
}
.welcome-title {
  padding-left: 15px;
}

.none {
  display: none;
}

.desktop-text {
  display: none;
}

.about-description {
  background-color: white !important;
  text-align: center;
  box-shadow: -1px 0px 5px 0px rgba(247, 247, 247, 0.75);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(247, 247, 247, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(247, 247, 247, 0.75);
  padding: 20px !important;
}

.contact {
  margin-top: 20px;
  text-align: center;
  /* background-color: #f7f7f7; */
  padding: 20px;
}

.contact p {
  font-size: 14px;
  color: var(--font-color);
  line-height: 1.5;
}

.contact-email {
  font-weight: 900;
  text-decoration: underline;
}

.shiloh-logo {
  text-align: center;
}

.shiloh-logo h3 {
  font-family: var(--font-family);
  padding: 20px 20px 0px 20px;
  width: 250px;
  margin: 0 auto;
  color: var(--font-color);
}

.shiloh-logo hr {
  margin-bottom: 10px;
}
.shiloh-logo p {
  width: 350px;
  margin: 0 auto;
  color: var(--font-color);
  padding: 20px 20px 20px 20px;
}

.desktop-vote {
  display: none;
}

.shiloh-logo img {
  width: 400px;
  padding: 20px;
  height: 250px;
}

.past-events h3 {
  font-family: var(--font-family);
  padding: 5px 20px 0px 20px;
  color: var(--font-color);
  font-size: 1.2rem;
}

.past-events hr {
  margin-bottom: 10px;
}
.past-events .events-desc {
  padding: 0px 20px 0px 20px;
  text-align: center;
  color: #7b7b7b;
  font-size: 14px;
}

.past-event-one {
  background: linear-gradient(rgba(148, 39, 19, 0.7), rgba(148, 39, 19, 0.7)),
    url(/public/images/shiloh-2019webp);
  background-size: cover;
  width: 93%;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
}
.past-event-two {
  background: linear-gradient(rgba(148, 39, 19, 0.7), rgba(148, 39, 19, 0.7)),
    url(/public/images/shiloh-2021.jpg);
  background-size: cover;
  width: 93%;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
}

.event h3 {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.event p {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  width: 90%;
}

.about-page {
  padding: 20px;
  display: block;
  margin-bottom: 20px;
  background-color: #414246;
  margin-top: 20px;
}

.about-page {
  text-align: center;
}

.about-page h3 {
  color: white;
}

.partners-box span {
  color: white;
  font-weight: 600;
  margin-right: 10px;
}
.about-footer {
  margin-bottom: 10px;
}

.about-page hr {
  margin-bottom: 10px;
}
