body {
  width: 100%;
}

.header-wrapper {
  background: linear-gradient(
      rgba(249, 249, 249, 0.7),
      rgba(249, 249, 249, 0.7)
    ),
    url(../images/winners-bg.jpeg);
  background-size: cover;
}

.top-nav-container {
  display: none;
}

.bottom-nav-container {
  display: none;
}

.program-item img {
  object-fit: cover;
  width: 40px;
}

.hamburger {
  padding: 30px;
  font-size: 50px;
  color: var(--font-color);
  z-index: 0;
}

/* About section */
.past-event-one {
  background: linear-gradient(rgba(148, 39, 19, 0.7), rgba(148, 39, 19, 0.7)),
    url(/public/images/shiloh-2019webp);
  background-size: cover;
  width: 93%;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
}
.past-event-two {
  background: linear-gradient(rgba(148, 39, 19, 0.7), rgba(148, 39, 19, 0.7)),
    url(/public/images/shiloh-2021.jpg);
  background-size: cover;
  width: 93%;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
}

.event h3 {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.event p {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  width: 90%;
}
